.appointment {
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 506px;

    border-radius: 10px;
    background: linear-gradient(26deg, rgba(245, 246, 240, 0.28) 0.77%, rgba(245, 246, 240, 0.28) 23.25%), url('../../img/appointment-mobile-bg.png'), lightgray -213.125px -3.536px / 243.127% 156.741% no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__paragraph {
        margin-bottom: 205px;

        color: var(--accent-color);
        font-family: var(--font-main);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }

    &__image {
        display: none;
    }
    
    .appointment-button {
        background-color: var(--accent-color);
        color: var(--main-color);
        border: 1px solid var(--accent-color);

        @media(hover:hover) {
            &:hover {
                background-color: var(--main-color);
                color: var(--accent-color);
                transition: all 0.3s ease-in-out;
            }
        }

        &:active {
            background-color: var(--main-color);
            color: var(--accent-color);
            transition: all 0.3s ease-in-out;
        }
    }

    @media (min-width: 480px) {
        padding-top: 41px;
        padding-bottom: 60px;
        min-height: 638px;
        background: url('../../img/texture-light.png') repeat;

        .container {
            display: flex;
            align-items: top;
            justify-content: space-between;
            gap: 40px;
        }

        &__wrapper {
            max-width: 600px;
            display: flex;
            flex-direction: column;
            justify-content: start;

            margin-top: 19px
        }

        &__headline {
            margin-bottom: 20px;
        }

        &__paragraph {
            font-size: 32px;
            margin-bottom: 48px;
        }

        &__image {
            display: block;
        }
        .appointment-button {
            width: 320px;
            margin-left: auto;
        }
    }
}