.hero {
    min-height: 623px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.20) 37.50%, rgba(0, 0, 0, 0.00) 100%), url('../img/hero-bg-mobile.png'), lightgray -416.403px -142.749px / 272.86% 142.277% no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;

    &__text-box {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: end;
        gap: 24px;
    }

    &__headline {
        font-family: var(--font-accent);
        font-size: 36px;
        text-transform: uppercase;
        font-weight: 50;
        color: var(--main-color);
    }

    &__subtitle-mobile {
        font-family: var(--font-main);
        font-size: 18px;
        font-weight: 400;
        color: var(--main-color);
    }

    &__subtitle-desktop {
        display: none;
    }

    @media (min-width: 480px) {
        min-height: 840px;
        padding-top: 60px;
        padding-bottom: 60px;
        background: url('../img/texture-light.png');
   

        &__text-box {
            min-height: 719px;
            width: 1400px;

            justify-content: start;
            gap: 40px;

            background: url('../img/hero-bg-desktop.png');
            background-repeat: no-repeat;
            background-position: right;
    
        }

        &__headline {
            margin-top: 100px;
            font-size: 68px;
            color: var(--accent-color);
        }

        &__subtitle-mobile {
            display: none;
        }

        &__subtitle-desktop {
            display: inline;
            font-family: var(--font-main);
            font-size: 38px;
            font-weight: 400;
            color: var(--accent-color);
        }
    }
}

.hero-button {
    display: block;
    max-width: 320px;
    width: 100%;
    padding: 1rem 0;
    background-color: var(--main-color);
    border: 1px solid var(--accent-color);
    border-radius: 30px;

    text-align: center;
    font-family: var(--font-main);
    font-size: 24px;
    font-weight: 500;
    color: var(--accent-color);

    margin-bottom: 30px;

    @media(hover:hover) {
        &:hover {
            background-color: var(--accent-color);
            color: var(--main-color);
            transition: all 0.3s ease-in-out;
        }

    }

    &:active {
        background-color: var(--accent-color);
        color: var(--main-color);
        transition: all 0.3s ease-in-out;
    }

    @media (min-width: 480px) {
        max-width: 320px;
        margin-left: 240px;
        margin-bottom: 0px;

        color: var(--main-color);
        background-color: var(--accent-color);

        @media(hover:hover) {
            &:hover {
                background-color: var(--main-color);
                color: var(--accent-color);
                transition: all 0.3s ease-in-out;
                border: 1px solid var(--accent-color);
            }

        }

        &:active {
            background-color: var(--main-color);
            color: var(--active-color);
            transition: all 0.3s ease-in-out;
        }
    }
}